section.slider
  .container
    .swiper
      .swiper-wrapper
        .swiper-slide 
          img(src="../img/user1.jpg", alt="User" class="swiper-slide__ava") 
          .swiper-slide__name Вадим Думилин
          .swiper-slide__feedback Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores iusto excepturi a officia fugit. Vel incidunt voluptatibus quae itaque quia.
        .swiper-slide 
          img(src="../img/user2.jpg", alt="User" class="swiper-slide__ava") 
          .swiper-slide__name Мирный Саша
          .swiper-slide__feedback Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores iusto excepturi a officia fugit. Vel incidunt voluptatibus quae itaque quia.
        .swiper-slide 
          img(src="../img/user3.jpg", alt="User" class="swiper-slide__ava") 
          .swiper-slide__name Михайлов Женя
          .swiper-slide__feedback Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores iusto excepturi a officia fugit. Vel incidunt voluptatibus quae itaque quia.
      .swiper-pagination
      .swiper-button-prev
      .swiper-button-next
      .swiper-scrollbar

  