section.promopeople
  .container 
    .promopeople-block 
        img(src="../img/doctor.png", alt="Photo people" class="promopeople-block__photo")
        .promopeople-info 
          .promopeople-info__name Alex Fills
          .promopeople-info__about Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum perspiciatis at impedit expedita fugit error voluptates? Consectetur eligendi architecto magni cum aliquam, laudantium voluptate voluptatum aperiam cumque, a inventore ex reiciendis soluta sunt? Omnis soluta, quam harum ab eveniet dignissimos.
          .promopeople-li 
            .promopeople-li_item Lorem ipsum dolor sit.
            .promopeople-li_item Lorem ipsum dolor sit.
            .promopeople-li_item Lorem ipsum dolor sit.
          .promopeople-btn
            a(href="#buy")  
              button(class="promo-btn") Заказать