.container 
  .promo 
    .promo-head
      .promo-head__name LevelUP
    .promo-info 
      .promo-photo 
        img(src="../img/prod.png", alt="Photo of our products", class="promo-photo__img")
      ul.promo-caracter
        li.promo-caracter__item Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, ipsam.
        li.promo-caracter__item Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, ipsam.
        li.promo-caracter__item Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, ipsam.
    a(href="#buy")  
              button(class="promo-btn") Заказать