section.sostav-section
  .container 
    .sostav
      .sostav-wrapper 
        .sostav-left 
          .sostav-item 
            img(src="../img/des.jpg", alt="Element in sostav" class="sostav-item__img")
            .sostav-item__name Lorem ipsum dolor sit amet.
          .sostav-item 
            img(src="../img/des2.jpg", alt="Element in sostav" class="sostav-item__img")
            .sostav-item__name Lorem ipsum dolor sit amet.
          .sostav-item 
            img(src="../img/des.jpg", alt="Element in sostav" class="sostav-item__img")
            .sostav-item__name Lorem ipsum dolor sit amet.
        .sostav-main 
          .sostav-main__img 
            img(src="../img/prod.png", alt="Product")
        .sostav-right
          .sostav-item 
            img(src="../img/des.jpg", alt="Element in sostav" class="sostav-item__img")
            .sostav-item__name Lorem ipsum dolor sit amet.
          .sostav-item 
            img(src="../img/des2.jpg", alt="Element in sostav" class="sostav-item__img")
            .sostav-item__name Lorem ipsum dolor sit amet.
          .sostav-item 
            img(src="../img/des.jpg", alt="Element in sostav" class="sostav-item__img")
            .sostav-item__name Lorem ipsum dolor sit amet.
      .sostav-btn
        a(href="#buy")  
              button(class="promo-btn") Заказать