doctype html
html(lang="en")
  include includes/head.pug
    title LevelUp
  body  
    .promo-shadow
      video(src="../img/Pills.mp4" autoplay="autoplay"  loop width="1024"  class="promo-video") 
    include includes/promo.pug
    include includes/sostav.pug
    include includes/feedback.pug
    include includes/promopeople.pug
    include includes/buy.pug
    script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js") 
    script(src="../js/slider.js")
    script(src="../js/timer.js")
